{
    "presets" : ["@babel/preset-env"],
    "plugins" : [
        ["@babel/transform-runtime", {
            "regenerator" : true
        }],

        ["@babel/plugin-proposal-decorators",{
            "enable" : true
        }],
        
        ["allure", {
            "enable" : true
        }]
        
    ]
}